body {
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100vh;
  border-right: 1px solid #ddd;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.card {
  margin-bottom: 20px;
}

/* Botón flotante de WhatsApp */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.whatsapp-float img {
  width: 40px;
  margin-top: 10px;
}

